@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Film Review Website</h1>

</div>

<div>

    <h2>About Developers</h2>
    <p class="about">
        This film review website was created by Huzaifa Achhodi,
        Anjela Mikhaylova & Doaa Radwan as part of the MVC Project
        assignment in the Advanced Programming Module.
        As part of this assignment, tasks were delegated accordingly.
        Huzaifa oversaw creating the ‘Movie’ and the ‘Genre’ pages.
        Anjela oversaw creating the ‘Actor’ and ‘Director’ pages,
        also created the CSS of the pages.
        Doaa oversaw the authentication of the project i.e. being
        able to register and login, implementation of the database
        and the pages for ‘Review’ and ‘Comments’.
    </p>

</div>
<hr>
<div>

    <h2>About Project</h2>

    <p class="about">
        In terms of the aim for the actual website,
        it was created for a film fanatic to be able to allow other users
        to write their own personal reviews about a movie. It also allows users
        to comment on actors and directors, with users also being able to reply
        to other users. The film review website is aimed to be family friendly,
        meaning strong language and inappropriate behaviour will not be tolerated.
        So please behave. So, go ahead and register, and let the fun begin!
    </p>

</div>
