@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Leicester College</p>
    <p>HND Year 2</p>
    <p>C0006</p>
</address>

<address>
    <strong>Anjela Mikhaylova:</strong> <a href="mailto:anjela.mikhaylova@gmail.com">anjela.mikhaylova@gmail.com</a><br />

    <strong>Doaa Radwan:</strong>   <a href="mailto:doaaradwan@gmail.com">doaaradwan@gmail.com</a><br />

    <strong>Huzaifa Achhodi:</strong>   <a href="mailto:huzaifa54@hotmail.co.uk">huzaifa54@hotmail.co.uk</a><br />
</address>